@import "../../variables.scss";

.container {
  max-width: 1280px;
  margin: 0 auto;
  .box_container {
    margin: 9.4rem 0 10rem 0;
    padding: 0 14rem;
    .text_box {
      text-align: center;
      line-height: 1.7rem;
      font-family: "Montserrat", sans-serif;
      h1 {
        font-size: 2rem;
      }
      p {
        margin-top: 1.4rem;
        color: #828282;
        font-size: 1.2rem;
      }
    }
  }
}
