.container {
  max-width: 1080px;
  margin: 0 auto;
  .box_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5.8rem 0 6rem 0;
    .text_box {
      padding: 0 8rem;
      line-height: 1.9rem;
      h1 {
        text-align: center;
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
      }
      p {
        padding-top: 0.8rem;
        color: #828282;
        text-align: center;
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}
