@import "../../mixin.scss";
@import "../../variables.scss";

.container {
  margin-bottom: 14rem;
  font-family: "Montserrat", sans-serif;
  h1 {
    @include title;
  }
  .box_container_contact {
    margin-top: 7rem;
    @include center_around;
    .box_container_icon {
      @include centralize_content;
      @include transition;
      flex-direction: column;
      &:hover {
        transform: scale(1.2);
      }
      .box_icon {
        border-radius: 50%;
        .icon {
          margin: 0.9rem 1.1rem;
          font-size: 2.2rem;
          color: $color-quaternary;
        }
      }
      .box_text {
        text-align: center;
        h5 {
          padding-top: 0.7rem;
          font-size: 1.2rem;
        }
        p {
          padding: 0.3rem 0;
          font-size: 1rem;
          color: $color-paragraph;
        }
      }
    }
  }
}
