body {
  background: #fdfdfd;
  color: #121212;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font: bold 36px/1.5em "Open Sans", sans-serif;
  margin-bottom: 21px;
}

p {
  margin-bottom: 1em;
  text-align: justify;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 50px auto;
  width: 680px;
}

#social_sidebar {
  left: 0;
  margin-top: -75px;
  position: fixed;
  top: 50%;

  li:first-child a {
    border-radius: 0 5px 0 0;
  }

  li:last-child a {
    border-radius: 0 0 5px 0;
  }

  a {
    background: #121212;
    color: #fff;
    display: block;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    position: relative;
    text-align: center;
    width: 50px;

    &:hover span {
      left: 130%;
      opacity: 1;
    }

    span {
      border-radius: 3px;
      line-height: 24px;
      left: -100%;
      margin-top: -16px;
      opacity: 0;
      padding: 4px 8px;
      position: absolute;
      transition: opacity .3s, left .4s;
      top: 50%;
      white-space: nowrap;
      z-index: -1;

      &:before {
        content: "";
        display: block;
        height: 8px;
        left: -4px;
        margin-top: -4px;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 8px;
        z-index: -2;
      }
    }

    &[class*="twitter"]:hover,
    &[class*="twitter"] span,
    &[class*="twitter"] span:before {
      background: #00aced;
    }

    &[class*="dribbble"]:hover,
    &[class*="dribbble"] span,
    &[class*="dribbble"] span:before {
      background: #ea4c89;
    }

    &[class*="behance"]:hover,
    &[class*="behance"] span,
    &[class*="behance"] span:before {
      background: #1769ff;
    }
  }
}
