@import "../../mixin.scss";
@import "../../variables.scss";

.container {
  max-width: 1280px;
  margin: 0 auto;
  .box_container_skills {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10rem;
    transform: translateY(30px);
    opacity: 0;
    transition: opacity 0.2s, transform 0.6s;
    h1 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .box_skills {
      display: flex;
      flex-wrap: wrap;
      .box {
        @include border_gradient;
        @include centralize_content;
        flex-direction: column;
        padding: 1rem 1.2rem 1.5rem 1.2rem;
        background-color: #212121;
        width: 118px;
        margin: 1.2rem 1.2rem;
        border-radius: 0 0 42px 0;
        h3 {
          font-size: 1rem;
          margin-top: 0.5rem;
          @include background_gradient;
        }
        .icon {
          margin-top: 0.7rem;
          width: 50px;
          height: 50px;
          color: #8b30f4;
        }
      }
    }
  }
  .box_container_reveal.active {
    opacity: 1;
    transform: translateY(0);
  }
  .fromLeft {
    opacity: 0;
    transform: translateX(-110px);
    transition: opacity 0.6s, transform 0.6s;
  }
  .fromLeft.active {
    opacity: 1;
    transform: translateX(0);
  }
}
