.container {
  max-width: 1280px;
  margin: 0 auto;
  .box_container_skills {
    opacity: 0;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10rem;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s;

    h1 {
      text-align: center;
      font-size: 2rem;
      margin: 3rem 0 2rem 0;
    }
    .box_skills {
      display: flex;
      flex-wrap: wrap;

      .box {
        border-top: 3px solid;
        border-image: linear-gradient(
            135deg,
            #c319f9,
            #b81df8,
            #992af5,
            #8b30f4,
            #6740f1,
            #4548e0
          )
          1;
        padding: 1.1rem 1.2rem 1.5rem 1.2rem;
        background-color: #212121;
        font-family: "Montserrat", sans-serif;
        width: 120px;
        margin: 1rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0px 0px 45px 0px;
        h3 {
          font-size: 1rem;
          margin: 0.4rem 0 0 0;
          text-transform: capitalize;
          background: linear-gradient(
            135deg,
            #c319f9,
            #b81df8,
            #992af5,
            #8b30f4,
            #6740f1,
            #4548e0
          );
          background-clip: normal;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .icon {
          margin-top: 0.8rem;
          width: 45px;
          height: 45px;
          color: #8b30f4;
        }
      }
    }
  }
  .box_container_reveal.active {
    opacity: 1;
    transform: translateY(0);
  }

  .fromLeft {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s, transform 0.6s;
  }

  .fromLeft.active {
    opacity: 1;
    transform: translateX(0);
  }
}
