@import "../mixin.scss";
@import "../variables.scss";

.modal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(19, 19, 31, 0.7);
  backdrop-filter: blur(1px);
  .modal_content {
    background-color: #13131f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 550px;
    width: 1000px;
    position: relative;
    .box_container {
      display: flex;
      justify-content: center;
      align-items: center;
      .img_box {
        margin: 0.5rem 0 0.5rem 0.5rem;
        img {
          max-width: 550px;
          height: 450px;
        }
        .btn {
          margin: 0.9rem 1.2rem 0 0;
          font-family: "Montserrat", sans-serif;
          background-color: transparent;
          border: 2px solid #552686;
          padding: 0.6rem 1rem;
          color: #fff;
          border-radius: 10px;
          font-size: 0.7rem;
        }
      }
      .text_box {
        margin: 1rem 3rem;
        color: #552686;
        font-family: "Montserrat", sans-serif;
        h1 {
          font-size: 2rem;
          margin-bottom: 1.5rem;
        }
        p {
          color: #828282;
        }
      }
    }
    .close {
      top: 20px;
      right: 25px;
      position: absolute;
      font-size: 2rem;
      cursor: pointer;
      color: #552686;
    }
  }
}
