@import "../../styles/global/mixin.scss";
@import "../../styles/global/variables.scss";

.container {
  max-width: 1280px;
  margin: 0 auto;

  .box_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14.4rem;
    padding: 0 2rem;

    .text_box {
      font-family: "Montserrat", sans-serif;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      .title {
        font-size: 2.7rem;
        font-weight: 700;
        line-height: 3.2rem;
        margin-bottom: 0.7rem;

        span {
          @include background_gradient;
        }
      }

      .subtitle {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.3rem;
        color: #7B797C;
        letter-spacing: 1px;
      }

      div {
        padding-top: 1rem;
        @include centralize_content;

        .cv {
          @include button_gradient;
          margin-right: 1.1rem;
          padding: 0.7rem 1.7rem;
          border-radius: 25px;
          font-size: 0.9rem;
          @include transition;

          &:hover {
            transform: scale(1.1);
          }
        }

        .contact {
          font-family: "Montserrat", sans-serif;
          background-color: transparent;
          border: 2px solid $color-secondary;
          padding: 0.6rem 1.5rem;
          color: $color-primary;
          border-radius: 25px;
          font-size: 0.9rem;
          @include transition;

          &:hover {
            transform: scale(1.1);
            background-color: $color-secondary;
          }
        }
      }
    }

    .img_box {
      .img {
        @include border_animation;
        width: 380px;
        background-color: $color-secondary;
        padding: 1rem 1rem 0rem 1rem;
        margin-right: 1.5rem;
        transition: all 0.4s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 867px) {
  .box_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10.4rem !important;

    .text_box {
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      margin-bottom: 5rem;
      padding: 0 1rem;

      .title {
        font-size: 2rem !important;
        line-height: 2.2rem !important;
        margin-bottom: 0.4rem !important;
      }

      .subtitle {
        margin-bottom: 0.2rem !important;
        font-size: 1.6rem !important;
      }
    }
  }
}

@media (min-width: 868px) and (max-width: 1000px) {
  .box_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12.4rem !important;

    .text_box {
      display: flex;
      align-items: flex-start !important;
      justify-content: center !important;
      margin-bottom: 5rem;
      padding: 0 1rem;

      .title {
        font-size: 2.3rem !important;
        line-height: 2.7rem !important;
        margin-bottom: 0.4rem !important;
      }

      .subtitle {
        margin-bottom: 0.2rem !important;
      }
    }
  }
}