@import "../../styles/global/mixin.scss";
@import "../../styles/global/variables.scss";

.container {
  font-family: "Montserrat", sans-serif;
  transform: translateY(30px);
  transition: opacity 0.2s, transform 0.6s;
  margin-bottom: 14rem;
  h1 {
    @include title;
    margin-bottom: 3rem;
  }
  .box_skills {
    display: flex;
    flex-wrap: wrap;
    .box {
      @include border_gradient;
      @include centralize_content;
      cursor: pointer;
      transition: all 0.3s ease;
      flex-direction: column;
      padding: 1rem 1rem 1.5rem 1rem;
      background-color: $color-tertiary;
      width: 120px;
      margin: 1.2rem 1.2rem;
      border-radius: 0 0 42px 0;
      h3 {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        margin-top: 0.5rem;
        @include background_gradient;
      }
      .icon {
        margin-top: 0.7rem;
        width: 45px;
        height: 45px;
        color: $color-quaternary;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .box_skills {
    justify-content: center;
    padding: 0 0.5rem;
  }
}
