@mixin centralize_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background_gradient {
  background-clip: text;
  background-image: linear-gradient(
    135deg,
    #c319f9,
    #b81df8,
    #992af5,
    #8b30f4,
    #6740f1,
    #4548e0
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
