$background-color: #13131f;
$color-paragraph: #828282;
$color-primary: #fff;
$color-secondary: #552686;
$color-tertiary: #212121;
$color-quaternary: #8b30f4;
/*
$color-quinary: #fff;
$color-senary: #fff;
$color-septenary: #fff;
$color-octonary: #fff;
$color-novenary: #fff;
$color-decenary: #fff;
*/
